<div class="sub-footer">
  <div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="footer-nav-links">

                <ul class="list-unstyled footerNav mb-4">
                    <li>
                        <a href="https://www.hrgo.co.uk/branch-finder/branches/ashford-head-office">Ashford Head Office</a>
                    </li>
                    <li>
                        <a href="https://www.hrgo.co.uk/careers-at-hr-go-companies">Careers at HR GO companies</a>
                    </li>
                    <li>
                        <a href="https://www.hrgo.co.uk/legal-policies/complaints-policy">Complaints Policy</a>
                    </li>
                    <li>
                        <a href="https://www.hrgo.co.uk/legal-policies/mission-statement">Mission statement</a>
                    </li>
                    <li>
                        <a href="https://www.hrgo.co.uk/books/temporary-workers-handbook">Temporary Workers Handbook</a>
                    </li>
                    <li>
                        <a href="https://www.hrgo.co.uk/books/driving-temp-handbook">Driving Temp Handbook</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 px-0">

            <div class="umb-grid">
                <div class="grid-section">
                    <div class="row-container">
                        <div class="container">
                            <div class="row clearfix">
                                <div class=" col-md-12 column">
                                    <div>

                                        <div class="flexLinks flexLinks-center mb-1">
                                            <a href="https://www.facebook.com/hrgorecruitment/" class="flexLinks_link mx-2">
                                                <img src="/images/footer/facebook_white.svg" class="img-fluid flexLinks_image" alt="Facebook_white.svg">
                                            </a>
                                            <a href="https://www.linkedin.com/company/hr-go-recruitment-ltd" class="flexLinks_link mx-2">
                                                <img src="/images/footer/linked-in_white.svg" class="img-fluid flexLinks_image" alt="linked-in_white.svg">
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="umb-grid">
                <div class="grid-section">
                    <div class="row-container">
                        <div class="container">
                            <div class="row clearfix">
                                <div class=" col-md-12 column">
                                    <div>

                                        <div class="flexLinks flexLinks-center mb-1">
                                            <a href="https://www.rec.uk.com/" class="flexLinks_link mx-2">
                                                <img src="/images/footer/rec1957small.jpg" class="img-fluid flexLinks_image" alt="rec1957small.jpg (1)">
                                            </a>
                                            <a href="http://stronger2gether.org/" class="flexLinks_link mx-2">
                                                <img src="/images/footer/strangertogether.png" class="img-fluid flexLinks_image" alt="strangerTogether.png">
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="float-md-right">

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">
            <ul class="nav flexLinks_xsBlock flexLinks pull-md-left">
                <li class="nav-item flexLinks-link text-md-left pr-1">
                    <a href="http://hrgoplc.co.uk/" target="_blank">
                        <img src="/images/footer/hr-go-plc-all-white-logo_website-footer.svg" alt="HR GO plc All White logo_WEBSITE FOOTER.svg" class="img-fluid">
                    </a>
                </li>

                <li class="nav-item pull-md-left pr-1">
                    <a href="https://www.hrgoplc.co.uk/privacy-policy" alt="Privacy Policy">Privacy Policy</a>
                </li>
                <li class="nav-item pull-md-left pr-1">
                    <a href="https://www.hrgoplc.co.uk/terms-conditions" alt="Terms &amp; Conditions">Terms &amp; Conditions</a>
                </li>
                <li class="nav-item pull-md-left pr-1">
                    <a href="https://www.hrgoplc.co.uk/modern-day-slavery-statement" alt="Modern Day Slavery Statement">Modern Day Slavery Statement</a>
                </li>
            </ul>
        </div>
    </div>
  </div>
</div>
